<form>
  <div class="pagecontainer">
    <div class="animated-gradient"></div>
    <mat-card>
      <div class="screen-1">
        <div style="text-align:center;"><h2>Xsyst Portal</h2></div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>User ID</mat-label>
          <input matInput #usernameInput placeholder="Masukan User ID Anda" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            #passwordInput
            [type]="hide ? 'password' : 'text'"
            id="passwordInput"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <div style="text-align:center;">
          <button
            class="login"
            style="display:inline-block;"
            mat-raised-button
            (click)="checkLogin(usernameInput.value, passwordInput.value)"
          >
            Login
          </button>
          <br /><br />
          <a (click)="this.dialog.open(privacypolicydialog)">Privacy Policy</a>
        </div>
      </div>
    </mat-card>

    <ng-template #changepassworddialog>
      <div>
        <div style="text-align:center;">
          <h4 matDialogTitle>Change Password</h4>
        </div>
        <div class="screen-1" matDialogContent>
          <br /><br /><br />
          <div class="email">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Old Password</mat-label>
              <input
                matInput
                #oldpassword
                [type]="hide ? 'password' : 'text'"
                [attr.disabled]="true"
                id="oldpassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <br /><br /><br />
          <div class="email">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>New Password</mat-label>
              <input
                matInput
                #newpassword
                [type]="hide ? 'password' : 'text'"
                id="newpassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <br />
          <button
            class="changepass"
            mat-button
            mat-raised-button
            matDialogClose
            color="accent"
            style="display:inline-block"
            (click)="changepassword(oldpassword.value, newpassword.value)"
          >
            Change Password
          </button>
          <br /><br />
        </div>
      </div>
    </ng-template>
    <ng-template #privacypolicydialog>
      <div style="overflow-y:scroll;height:50em">
        <markdown [data]="privacypolicystring"></markdown>
        <br /><br /><br />
      </div>
    </ng-template>
  </div>
</form>
