<form>
  <div class="pagecontainer">
    <div class="animated-gradient"></div>
    <mat-divider></mat-divider>
    <mat-card class="bayangan">
      <mat-card-title>Device Detail</mat-card-title>
      <mat-tab-group>
        <mat-tab label="Counter">
          <div align="end">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input
                matInput
                placeholder="Type to filter.."
                #input
                (keyup)="applyFilterCounterHistory($event)"
              />
            </mat-form-field>
            &nbsp;&nbsp;
            <button
              mat-raised-button
              color="warn"
              (click)="exporttable('tableCounterHistory')"
            >
              Export
            </button>
          </div>
          <div class="tb-container mat-elevation-z8 win-form">
            <div class="tb-table-container">
              <table
                mat-table
                [dataSource]="dsCounterHistory"
                class="table-grid"
                matSort
                matSortActive="collection_date"
                matSortDisableClear
                matSortDirection="desc"
                id="tableCounterHistory"
              >
                <ng-container matColumnDef="collection_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td
                    class="lebar-td-200"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ this.xsystbackend.formatDate(row.collection_date) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="mono_copy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Mono Copy
                  </th>
                  <td
                    class="lebar-td-200"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ row.mono_copy }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="mono_print">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Mono Print
                  </th>
                  <td
                    class="lebar-td-200"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ row.mono_print }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="mono_large_copy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Mono Large Copy
                  </th>
                  <td
                    class="lebar-td-200"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ row.mono_large_copy }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="mono_large_print">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Mono Large Print
                  </th>
                  <td
                    class="lebar-td-200"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ row.mono_large_print }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="color_copy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Color Copy
                  </th>
                  <td
                    class="lebar-td-200"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ row.color_copy }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="color_print">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Color Print
                  </th>
                  <td
                    class="lebar-td-200"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ row.color_print }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="color_large_copy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Color Large Copy
                  </th>
                  <td
                    class="lebar-td-200"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ row.color_large_copy }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="color_large_print">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Color Large Print
                  </th>
                  <td
                    class="lebar-td-200"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ row.color_large_print }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="discolCounterHistory"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: discolCounterHistory"
                ></tr>

                <!-- Row shown when there is no matching data.  -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    <!-- No data matching the filter "{{ input.value }}" -->
                    Data Not Found.
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            [pageSize]="5"
          ></mat-paginator>
        </mat-tab>
        <mat-tab label="Device Delivery">
          <div align="end">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input
                matInput
                placeholder="Type to filter.."
                #input
                (keyup)="applyFilterDeviceDelivery($event)"
              />
            </mat-form-field>
            &nbsp;&nbsp;
            <button
              mat-raised-button
              color="warn"
              (click)="exporttable('tableDeviceDelivery')"
            >
              Export
            </button>
          </div>
          <div class="tb-container mat-elevation-z8 win-form">
            <div class="tb-table-container">
              <table
                mat-table
                [dataSource]="dsDeviceDelivery"
                class="table-grid"
                matSort
                matSortActive="doc_date"
                matSortDisableClear
                matSortDirection="desc"
                id="tableDeviceDelivery"
              >
                <ng-container matColumnDef="delivery_type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Type
                  </th>
                  <td
                    class="lebar-td-180"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ row.delivery_type }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="doc_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td
                    class="lebar-td-150"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ this.xsystbackend.formatDate(row.doc_date) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="doc_no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Document Number
                  </th>
                  <td mat-cell *matCellDef="let row" align="left">
                    {{ row.doc_no }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="discolDeviceDelivery"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: discolDeviceDelivery"
                ></tr>

                <!-- Row shown when there is no matching data.  -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    <!-- No data matching the filter "{{ input.value }}" -->
                    Data Not Found.
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            [pageSize]="5"
          ></mat-paginator>
        </mat-tab>
        <mat-tab label="Service">
          <div align="end">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input
                matInput
                placeholder="Type to filter.."
                #input
                (keyup)="applyFilterServiceHistory($event)"
              />
            </mat-form-field>
            &nbsp;&nbsp;
            <button
              mat-raised-button
              color="warn"
              (click)="exporttable('tableServiceHistory')"
            >
              Export
            </button>
          </div>
          <div class="tb-container mat-elevation-z8 win-form">
            <div class="tb-table-container">
              <table
                mat-table
                [dataSource]="dsServiceHistory"
                class="table-grid"
                matSort
                matSortActive="req_date"
                matSortDisableClear
                matSortDirection="desc"
                id="tableServiceHistory"
              >
                <ng-container matColumnDef="svo_type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Type
                  </th>
                  <td
                    class="lebar-td-180"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ row.svo_type }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="req_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td
                    class="lebar-td-150"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ this.xsystbackend.formatDate(row.req_date) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="svo_no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Document Number
                  </th>
                  <td mat-cell *matCellDef="let row" align="left">
                    {{ row.svo_no }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="discolServiceHistory"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: discolServiceHistory"
                ></tr>

                <!-- Row shown when there is no matching data.  -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    <!-- No data matching the filter "{{ input.value }}" -->
                    Data Not Found.
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            [pageSize]="5"
          ></mat-paginator>
        </mat-tab>
        <mat-tab label="Part Delivery">
          <div align="end">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input
                matInput
                placeholder="Type to filter.."
                #input
                (keyup)="applyFilterPartHistory($event)"
              />
            </mat-form-field>
            &nbsp;&nbsp;
            <button
              mat-raised-button
              color="warn"
              (click)="exporttable('tablepartHistory')"
            >
              Export
            </button>
          </div>

          <div class="tb-container mat-elevation-z8 win-form">
            <div class="tb-table-container">
              <table
                mat-table
                [dataSource]="dsPartHistory"
                class="table-grid"
                matSort
                matSortActive="doc_date"
                matSortDisableClear
                matSortDirection="desc"
                id="tablePartHistory"
              >
                <ng-container matColumnDef="doc_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td
                    class="lebar-td-100"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ this.xsystbackend.formatDate(row.doc_date) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="doc_no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Document Number
                  </th>
                  <td mat-cell *matCellDef="let row" align="left">
                    {{ row.doc_no }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="discolPartHistory"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: discolPartHistory"
                ></tr>

                <!-- Row shown when there is no matching data.  -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    <!-- No data matching the filter "{{ input.value }}" -->
                    Data Not Found.
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            [pageSize]="5"
          ></mat-paginator
        ></mat-tab>
        <mat-tab label="Consumable Delivery">
          <div align="end">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input
                matInput
                placeholder="Type to filter.."
                #input
                (keyup)="applyFilterConsumableHistory($event)"
              />
            </mat-form-field>
            &nbsp;&nbsp;
            <button
              mat-raised-button
              color="warn"
              (click)="exporttable('tableConsumableHistory')"
            >
              Export
            </button>
          </div>

          <div class="tb-container mat-elevation-z8 win-form">
            <div class="tb-table-container">
              <table
                mat-table
                [dataSource]="dsConsumableHistory"
                class="table-grid"
                matSort
                matSortActive="req_date"
                matSortDisableClear
                matSortDirection="desc"
                id="tablePartHistory"
              >
                <ng-container matColumnDef="req_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date
                  </th>
                  <td
                    class="lebar-td-150"
                    mat-cell
                    *matCellDef="let row"
                    align="left"
                  >
                    {{ this.xsystbackend.formatDate(row.req_date) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="svo_no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Document Number
                  </th>
                  <td mat-cell *matCellDef="let row" align="left">
                    {{ row.svo_no }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="discolConsumableHistory"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: discolConsumableHistory"
                ></tr>

                <!-- Row shown when there is no matching data.  -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    <!-- No data matching the filter "{{ input.value }}" -->
                    Data Not Found.
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            [pageSize]="5"
          ></mat-paginator>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</form>
