<form>
  <div class="pagecontainer">
    <div>
      <h4>Contract List</h4>
    </div>

    <mat-divider></mat-divider>
    <mat-card class="bayangan">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Cari Data.."
          #input
        />
      </mat-form-field>

      <div class="tb-container mat-elevation-z8 win-form">
        <div class="tb-table-container">
          <table
            mat-table
            [dataSource]="dataSource"
            class="table-grid"
            matSort
            matSortActive="created"
            matSortDisableClear
            matSortDirection="desc"
          >
            <!-- Owner Column -->
            <ng-container matColumnDef="owner_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Owner Name
              </th>
              <td mat-cell *matCellDef="let row">{{ row.owner_name }}</td>
            </ng-container>

            <!-- Contract Column -->
            <ng-container matColumnDef="contract_no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Contract No
              </th>
              <td class="lebar-td-150" mat-cell *matCellDef="let row">
                {{ row.contract_no }}
              </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="contract_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Contract Date
              </th>
              <td class="lebar-td-100" mat-cell *matCellDef="let row">
                {{ this.xsystbackend.formatDate(row.contract_date) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="contract_start_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Start Date
              </th>
              <td class="lebar-td-100" mat-cell *matCellDef="let row">
                {{ this.xsystbackend.formatDate(row.contract_start_date) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="contract_estimated_end_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Estimated End Date
              </th>
              <td class="lebar-td-150" mat-cell *matCellDef="let row">
                {{
                  this.xsystbackend.formatDate(row.contract_estimated_end_date)
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="nama_sales">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Sales Name
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.nama_sales }}
              </td>
            </ng-container>

            <ng-container matColumnDef="detail">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td class="lebar-td-100" mat-cell *matCellDef="let row">
                <button
                  class="btn-table"
                  mat-button
                  color="White"
                  (click)="showdetail(row.id_contract)"
                >
                  Detail
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data.  -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                <!-- No data matching the filter "{{ input.value }}" -->
                Data Not Found.
              </td>
            </tr>
          </table>
        </div>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          [pageSize]="5"
        ></mat-paginator>
      </div>
    </mat-card>
  </div>
</form>
