@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: Roboto;
}

.pagecontainer {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: black;
  border-radius: 10px;
}

.bgLogin {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mybutton {
  display: inline-block;
}
.form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.myMenu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.backbutton {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.backbuttonhide {
  display: none;
}

.myMenuHide {
  display: none;
}
.myFooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  height: 20px;
}

.alwaysontop {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.tablecol {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #dde5f4;*/
  height: 100vh;
}

.screen-1 {
  background: #f1f7fe;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
}

.screen-1 .logo {
  margin-top: -3em;
}

.screen-1 .login {
  background: #3e4684;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  width: 100%;
  height: 50px;
}
.screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 10em;
}
.screen-1 .footer span {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.screen-1 .changepass {
  background: #e5ff00;
  color: black;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  width: 100%;
}

.bgc-white {
  background-color: white !important;
}

.screen-1 .email {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-top: -3em;
}
.screen-1 .email input {
  outline: none;
  border: none;
}
.screen-1 .email input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}

/*button Dashboard Menu*/
.btn-menu {
  background-color: #09327e;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  width: 130px !important;
  height: 130px !important;
  border-radius: 70% !important;
  box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24),
    0px 15px 25px -4px rgba(150, 150, 150, 1);
}
.btn-menu:hover {
  background-color: #0066ff;
  border-radius: 100%;
}

.btn-menu:active {
  position: relative;
  top: 1px;
  border-radius: 70%;
}
/*End button Dashboard Menu*/

.pad-10 {
  padding: 10px 10px 10px 10px;
}

.layout-grid {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: left;
}

.win-form {
  width: 90vw;
  height: 50vh;
}

/**/
.bayangan {
  box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24),
    0px 15px 25px -4px rgba(150, 150, 150, 1);
}

.bg-fnt-main {
  background-color: #09327e !important;
  color: #ffffff !important;
}

/* Table */
.tb-container {
  position: relative;
}

.tb-table-container {
  position: relative;
  /*min-height: 200px;*/
  /*max-height: 400px;*/
  overflow: auto;
}

.table-grid {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #7ea8f8;
  border-style: none;
  color: #000000;
  font-size: small;
}

.table-grid th {
  border-width: 1px;
  border-color: #7ea8f8;
  border-style: none;
  align-content: center;
  color: white;
}

.table-grid td {
  border-width: 1px;
  border-color: #7ea8f8;
  border-style: none;
  align-content: center;
  color: black;
}

.table-grid thead {
  background-color: #7ea8f8;
}

.lebar-td-100 {
  width: 100px;
}
.lebar-td-150 {
  width: 150px;
}
.lebar-td-200 {
  width: 200px;
}

.btn-table {
  background: #3498db;
  color: #ffffff;
  text-decoration: none;
}

.btn-table:hover {
  background: #0c038a;
  text-decoration: none;
}
/*End Table */
