<form>
  <div class="pagecontainer">
    Selamat datang {{ username }}
    <br />
    <button mat-button color="primary" (click)="openSetting()">
      <mat-icon>settings</mat-icon>
      <br />
      <span>Setting</span>
    </button>
  </div>

  <ng-template #settingdialog>
    <div>
      <div style="text-align:center;">
        <h4 matDialogTitle>Setting</h4>
      </div>
      <div class="screen-1" matDialogContent>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>User Name</mat-label>
            <input
              matInput
              readonly="isReadOnly"
              #txtusername
              id="txtusername"
              value="{{ username }}"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Full Name</mat-label>
            <input
              matInput
              #txtfullname
              id="txtfullnamename"
              value="{{ fullname }}"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput #txtemail id="txtemail" value="{{ email }}" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone</mat-label>
            <input matInput #txtphone id="txtphone" value="{{ phone }}" />
          </mat-form-field>
          <button mat-raised-button>Update</button>
          <br />
        </div>
      </div>
    </div>
  </ng-template>
</form>
