<form>
  <div class="pagecontainer">
    Selamat datang {{ username }}
    <br />

    <button mat-button color="primary">
      <mat-icon>home</mat-icon>
      <br />
      <span>Home</span>
    </button>

    <button mat-button color="primary">
      <mat-icon>handshake</mat-icon>
      <br />
      <span>Contract</span>
    </button>

    <button mat-button color="primary">
      <mat-icon>devices</mat-icon>
      <br />
      <span>Device</span>
    </button>

    <button mat-button color="primary">
      <mat-icon>attach_money</mat-icon>
      <br />
      <span>Invoice</span>
    </button>

    <button mat-button color="primary">
      <mat-icon>contact_support</mat-icon>
      <br />
      <span>Enquiries</span>
    </button>

    <button mat-button color="primary" (click)="openSetting()">
      <mat-icon>settings</mat-icon>
      <br />
      <span>Setting</span>
    </button>
  </div>

  <ng-template #settingdialog>
    <div>
      <div style="text-align:center;">
        <h4 matDialogTitle>Setting</h4>
      </div>
      <div class="screen-1" matDialogContent>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>User Name</mat-label>
            <input
              matInput
              readonly="isReadOnly"
              #txtusername
              id="txtusername"
              value="{{ username }}"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Full Name</mat-label>
            <input
              matInput
              #txtfullname
              id="txtfullname"
              value="{{ fullname }}"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput #txtemail id="txtemail" value="{{ email }}" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone</mat-label>
            <input matInput #txtphone id="txtphone" value="{{ phone }}" />
          </mat-form-field>
          <button
            mat-raised-button
            (click)="
              updateProfil(txtfullname.value, txtemail.value, txtphone.value)
            "
          >
            Update
          </button>
          <br />
        </div>
      </div>
    </div>
  </ng-template>
</form>
