<form>
  <div class="pagecontainer">
    <h4>Selamat datang {{ username }}</h4>
    <br />
    <div class="background">
      <span></span><span></span><span></span><span></span><span></span>
      <span></span><span></span><span></span><span></span><span></span>
      <span></span><span></span><span></span><span></span><span></span>
      <span></span><span></span><span></span><span></span><span></span>
    </div>

    <section class="layout-grid">
      <div>
        <button
          class="btn-menu"
          mat-fab
          mat-button
          color="white"
          (click)="menuBarService.navigatepage('dashboard')"
        >
          <mat-icon>home</mat-icon>
          <br />
          <span>Home</span>
        </button>
      </div>

      <div>
        <button
          class="btn-menu"
          mat-fab
          mat-button
          color="white"
          (click)="menuBarService.navigatepage('dashboard/contract')"
        >
          <mat-icon>handshake</mat-icon>
          <br />
          <span>Contract</span>
        </button>
      </div>

      <div>
        <button class="btn-menu" mat-fab mat-button color="white">
          <mat-icon>attach_money</mat-icon>
          <br />
          <span>Invoice</span>
        </button>
      </div>

      <div>
        <button class="btn-menu" mat-fab mat-button color="white">
          <mat-icon>contact_support</mat-icon>
          <br />
          <span>Enquiries</span>
        </button>
      </div>

      <div>
        <button
          class="btn-menu"
          mat-fab
          mat-button
          color="white"
          (click)="openSetting()"
        >
          <mat-icon>settings</mat-icon>
          <br />
          <span>Setting</span>
        </button>
      </div>

      <div></div>
    </section>

    <!-- <button
      mat-button
      color="primary"
      (click)="menuBarService.navigatepage('dashboard/contract/product')"
    >
      <mat-icon>devices</mat-icon>
      <br />
      <span>Device</span>
    </button> -->
  </div>

  <ng-template #settingdialog>
    <div>
      <div style="text-align:center;">
        <h4 matDialogTitle>Setting</h4>
      </div>
      <div class="screen-1" matDialogContent>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>User Name</mat-label>
            <input
              matInput
              readonly="isReadOnly"
              #txtusername
              id="txtusername"
              value="{{ username }}"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Full Name</mat-label>
            <input
              matInput
              #txtfullname
              id="txtfullname"
              value="{{ fullname }}"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput #txtemail id="txtemail" value="{{ email }}" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone</mat-label>
            <input matInput #txtphone id="txtphone" value="{{ phone }}" />
          </mat-form-field>
          <button
            mat-raised-button
            (click)="
              updateProfil(txtfullname.value, txtemail.value, txtphone.value)
            "
          >
            Update
          </button>
          <br />
        </div>
      </div>
    </div>
  </ng-template>
</form>
