<div class="{{ btnmenu }}">
  <button
    mat-mini-fab
    class="bg-fnt-main"
    [matMenuTriggerFor]="menu"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="redirect_home()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="this.menuBarService.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</div>
<div *ngIf="showProgressBar" class="alwaysontop">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="{{ btnNav }}">
  <button mat-icon-button aria-label="Back" (click)="redirect_back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button aria-label="Home" (click)="redirect_home()">
    <mat-icon>home</mat-icon>
  </button>
</div>
