<div class={{btnmenu}}>
	<button mat-icon-button [matMenuTriggerFor]=" menu" aria-label="Menu">
	<mat-icon>menu</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="redirect_home()">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
		<button mat-menu-item (click)="redirect_profil()" style="display:none">
    <mat-icon>account_circle</mat-icon>
    <span>Profil</span>
  </button>
		<button mat-menu-item (click)="redirect_member()" style="display:none">
    <mat-icon>people</mat-icon>
    <span>List Member</span>
  </button>
		<button mat-menu-item (click)="redirect_transaksi()">
    <mat-icon>credit_card</mat-icon>
    <span>List Transaksi</span>
  </button>
		<button mat-menu-item *ngIf="menuAdminPanel" (click)="redirect_admin()">
    <mat-icon>business_center</mat-icon>
    <span>Admin Panel</span>
  </button>
		<button mat-menu-item (click)="redirect_about()">
    <mat-icon>info</mat-icon>
    <span>Tentang Kami</span>
  </button>
		<button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Log Out</span>
  </button>
	</mat-menu>
</div>
<div *ngIf="showProgressBar" class="alwaysontop">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
